@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

:root {
    --primary-color: #00F7FF;
    --secondary-color: #ff00e6;
    --bg-color: #0B0B1E;
    --text-color: #003D3E;
  }
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-image: url(solid-color-image.png)
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00CEFF;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: 'Roboto';
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.maintitle {
  margin-top: 10%;
  color: var(--text-color);
}